{{#partial "content"}}
    <h1>  Recorded Sighting</h1>
    <p> Ranger's Name :{{ name}}</p>
    <p> Animal Name :{{animal.name}}</p>
    <p> Animal Age :{{animal.age}}</p>
    <p> Animal Health :{{animal.health}}</p>
    <p> Animal Species :{{animal.type}}</p>
    {{timestamp}}

{{/partial}}
{{>layout.hbs}}